/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
:root{
    --primary-color: #0084fd;
    --secondary-color: #b5ddff;
    --tertiary-color: #9792e4;
}

html{
    font-family: "PT Sans", sans-serif;
    font-size: 100%;
}

body{
    margin-top: 5rem;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    width: 100%;
    padding: 0 2em;
    margin: 0 auto;
}

.end-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

p{
    line-height: 1.5rem;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 5rem;
    color: white;
    background-color: var(--primary-color);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .hamburger-menu{
    font-size: 1.5rem;
}

header .main-menu{
    display: none;
}

.main-menu li{
    display: inline-block;
    margin-left: 1.5rem;
}

.main-menu li:last-child a{
    padding: 0.5rem 1rem;
    border-radius: 30px;
    color: black;
    background-color: white;
}

/* PRESENTATION */
.presentation .cards{
    width: 100%;
    padding: 3em 0;
}

.presentation .card{
    border-radius: 15px;
    padding: 2em 2em 0 2em;
    margin-bottom: 1.5em;
    color: #5a6e7f;
    background-color: var(--secondary-color);
    text-align: center;
}

.presentation .card h3{
    color: var(--primary-color);
}

.presentation .card p{
    font-weight: 700;
    padding: 1em 0 2em 0;
}

.presentation .card:first-child p,
.presentation .card:first-child h3{
    text-align: left;
}

.presentation .card a,
.presentation .card .fa-apple{
    font-weight: 700;
    color: white;
}

.presentation .card a{
    padding: 0.5rem 4.5rem;
    margin-bottom: 2em;
    border-radius: 30px;
    background-color: var(--primary-color);
}

.presentation .card i:not(.fa-apple){
    transform: scale(3.5);
    margin: 1em 0 2em 0;
    color: var(--primary-color);
}

.presentation .demo-image{
    display: flex;
    justify-content: center;
}

.presentation .demo-image img{
    max-width: 250px;
}

/* OFFER */
.offer{
    width: 100%;
    padding: 3em 0;
    color: white;
    background-color: var(--tertiary-color);
}

.offer p{
    margin-bottom: 1.5em;
}

.offer .card{
    padding: 3em;
    border-radius: 50px;
    text-align: center;
    color: black;
    background-color: white;
}

.offer .image-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.offer .card p{
    font-style: italic;
}

.offer .img-offer-top{
    padding: 2em 0 4em 0;
}

.offer .planning h2{
    font-size: 2rem;
    padding-bottom: 1.5em;
}

.offer .card h3{
    font-size: 1.5rem;
    padding: 1em 0;
}

.offer .card i{
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}

/* TESTIMONIALS */
.testimonials{
    text-align: center;
    padding: 2em 0;
}

.testimonials .container >*{
    padding: 1em 0;
}

.testimonials .cards{
    width: 100%;
}

.testimonials .card{
    color: white;
    background-color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 2em;
    border-radius: 30px;
    padding: 1em;
}

.testimonials .card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}

.testimonials .card p{
    padding: 1em 0;
}

/* BENEFITS */
.benefits{
    width: 100%;
    background-color: var(--tertiary-color);

    /* debug */
    padding: 3em 0;
}

.benefits .card{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2em;
}

.benefits .cards >*{
    /* debug */
    margin: 2em 0;
}

/* ABOUT */
.about{
    padding: 3em 0;
}

.about .text >*{
    /* debug */
    margin-bottom: 2em;
}

.about img{
    width: 40%;
}

/* CTA */
.cta{
    color: white;
    background-color: var(--tertiary-color);
    text-align: center;

    /* debug */
    padding: 2em 0;
}

/* FOOTER */
footer{
    color: white;
    background-color: black;
    text-align: center;

    /* debug */
    padding: 2em 0;
}

/* CTA & FOOTER */
.end-container >*{
    /* debug */
    padding: 1em 0;
}


/* SCREEN 768+ */
@media screen and (min-width: 768px) {

    /* PRESENTATION */
    .presentation .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
    }
    
    .presentation .card{
        width: calc((100% / 3) - 1em);
        margin: unset;
    }

    .presentation .card:first-child{
        width: calc(((100% / 3) * 2) - (1em / 2));
    }

    .presentation .card:first-child .demo-text{
        text-align: left;
    }

    .presentation .demo-image{
        justify-content: flex-start;
    }

    /* TESTIMONIALS */
    .testimonials .card{
        display: flex;
        align-items: center;
        text-align: left;
    }

    .testimonials .card p{
        padding: 0 2rem;
    }

    .testimonials h3{
        margin: .8rem 2rem;
    }

    /* BENEFITS */
    .benefits .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .benefits .card{
        width: calc((100% / 2) - 1em);
        margin: unset;
    }

    /* ABOUT */
    .about .container{
        display: flex;
        justify-content: space-between;
    }
    
    .about .text{
        width: 65%;
    }

    .about .citation{
        width: 30%;
    }

    .about img{
        width: 100%;
    }

    /* CTA & FOOTER  */
    .end-container{
        width: 70%;
        max-width: 500px;
    }
}


/* SCREEN 992+ */
@media screen and (min-width: 992px) {

    /* COMMON */
    .container{
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }

    /* HEADER */
    header .hamburger-menu{
        display: none;
    }

    header .main-menu{
        display: block;
    }

    /* PRESENTATION */
    .presentation .card:first-child{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .presentation .demo-text{
        width: 55%;
    }

    .presentation .demo-image{
        width: 45%;
    }

    .presentation .demo-image{
        align-self: flex-end;
    }

    /* OFFER */
    .offer .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 70%;
        max-width: 800px;
    }

    .offer .img-offer-top{
        padding: 4em 0 8em 0;
    }

    .offer .container >*{
        width: calc((100% / 2) - 1em);
    }

    .offer h2{
        font-size: 1.5rem;
    }

    .offer h3{
        font-size: 1.5rem;
    }

    .offer p{
        margin-bottom: unset;
    }

    .offer i{
        margin-top: 1.5em;
    }

     /* BENEFITS */
    .benefits .card{
        width: calc((100% / 3) - 1em);
    }

    /* CTA & FOOTER */
    .end-container{
        width: 50%;
        max-width: 500px;
    }
}