/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
:root{
    --primary-color: #0084fd;
    --secondary-color: #b5ddff;
    --tertiary-color: #9792e4;
}

html{
    font-family: "PT Sans", sans-serif;
    font-size: 100%;
}

body{
    margin-top: 5rem;
}

img{
    width: 100%;
}

.container{
    width: 100%;
    padding: 0 2em;
    margin: 0 auto;
}

.end-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 5rem;
    color: white;
    background-color: var(--primary-color);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .hamburger-menu{
    font-size: 1.5rem;
}

header .main-menu{
    display: none;
}

.main-menu ul{
    list-style-type: none;
    display: flex;
}

.main-menu li{
    display: inline-block;
    padding-left: 1.5rem;
}

/* PRESENTATION */
.presentation .cards{
    width: 100%;
    padding: 3em 0;
}

.presentation .card{
    border-radius: 15px;
    margin-bottom: 1.5em;
    background-color: var(--secondary-color);

    /* debug */
    padding: 1em;
}

/* OFFER */
.offer{
    width: 100%;
    padding: 3em 0;
    background-color: var(--tertiary-color);
}

.offer .card{
    padding: 1em;
    border-radius: 50px;
    background-color: white;
}

.offer .img-offer-top{
    margin: 4em 0 8em 0;
}

/* TESTIMONIALS */
.testimonials .container >*{
    margin: 2em 0;
}

.testimonials .cards{
    width: 100%;

    /* debug */
    padding: 5em 0;
}

.testimonials .card{
    color: white;
    background-color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 2em;
    border-radius: 30px;

    /* debug */
    padding: 1em;
}

.testimonials .card img{
    max-width: 70%;
}

/* BENEFITS */
.benefits{
    width: 100%;
    background-color: var(--tertiary-color);

    /* debug */
    padding: 3em 0;
}

.benefits .card{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2em;
}

.benefits .cards >*{
    /* debug */
    margin: 2em 0;
}

/* ABOUT */
.about{
    padding: 3em 0;
}

.about .text >*{
    /* debug */
    margin-bottom: 2em;
}

.about img{
    width: 40%;
}

/* CTA */
.cta{
    color: white;
    background-color: var(--tertiary-color);
    text-align: center;

    /* debug */
    padding: 2em 0;
}

/* FOOTER */
footer{
    color: white;
    background-color: black;
    text-align: center;

    /* debug */
    padding: 2em 0;
}

/* CTA & FOOTER */
.end-container >*{
    /* debug */
    padding: 1em 0;
}


/* SCREEN 768+ */
@media screen and (min-width: 768px) {

    /* PRESENTATION */
    .presentation .cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .presentation .card{
        width: calc((100% / 3) - 1em);
    }

    .presentation .card:first-child{
        width: calc(((100% / 3) * 2) - (1em / 2));
    }

    /* TESTIMONIALS */
    .testimonials .card{
        display: flex;
    }

    .testimonials .card img{
        max-width: 20%;
    }

    /* BENEFITS */
    .benefits .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .card{
        width: calc((100% / 2) - 1em);
    }

    /* ABOUT */
    .about .container{
        display: flex;
        justify-content: space-between;
    }
    
    .about .text{
        width: 65%;
    }

    .about .citation{
        width: 30%;
    }

    .about img{
        width: 100%;
    }

    /* CTA & FOOTER  */
    .end-container{
        width: 70%;
        max-width: 500px;
    }
}


/* SCREEN 992+ */
@media screen and (min-width: 992px) {

    /* COMMON */
    .container{
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }

    /* HEADER */
    header .hamburger-menu{
        display: none;
    }

    header .main-menu{
        display: block;
    }

    /* PRESENTATION */
    .presentation .card:first-child{
        display: flex;
    }

    /* OFFER */
    .offer .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 70%;
        max-width: 800px;
    }

    .offer .container >*{
        width: calc((100% / 2) - 1em);
    }

     /* BENEFITS */
    .benefits .card{
        width: calc((100% / 3) - 1em);
    }

    /* CTA & FOOTER */
    .end-container{
        width: 50%;
        max-width: 500px;
    }
}